body{
    margin-top: 0%;
    margin-left: 0%;
}
input{
    display: block;
    width: 95%;
    padding:2%;
}
form{
    width: 50%;
    margin: auto;
}
label{
    font-family: sans-serif;
    font-size: 1.5rem;
}
button{
    width: 100%;
    padding: 2%;
    margin-top: 2%;
    font-size: 1rem;
    font-weight: bold;
}
nav{
    width: 100%;
}
a{
    text-decoration: none;
    font-size: 2em;
    color: black;
    font-family: sans-serif;
    margin-left: 1%;
}